@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Roboto';
    scroll-behavior: smooth;
    color: #212121;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #bbbbbb;
}

::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3;
}
